* {
    font-family: Helvetica, 'Microsoft YaHei', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select:none;
}

body {
    overflow-x: hidden;
    height: 100vh;
}

.header,
.display,
.content,footer {
    float: left;
    width: 100%;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: #eaeaea;
    color: #454545
}

#title {
    margin: 0px 20px 0 43px;
    display: inline-block;
    line-height: 39px;
    font-weight: bold;
}

.select {
    width: 100px;
    height: 40px;
    padding: 1px;
    text-align: center;
    display: inline-block;
    line-height: 38px;
}
.select:hover{
    background-color: #cdcdcdaf;
}
.head-link{
    padding: 5px;
    text-decoration: none;
    color: #454545
}
.select:hover .head-link{
    color:#464646
}
.display-box {
    height: 85vh;
    margin: 0px 0px 10px 0px;
    background-color: #0f0f0f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.disbox1{
    margin-top: 40px;
    padding: 5px 0 10px 0;
    background-image: linear-gradient(to right, #bfc1d8, #c9bad6, #d5b3ce, #e2abbf, #e9a6ab, #eca7aa, #f0a9a8, #f3aaa7, #f7b0bb, #f8b7ce, #f5c0e0, #f0caf0);/*     background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); */}
.disbox1>span{
    margin:0 0 0 20px;
    color: #ffffff;
    font-size: 30px;
}
#disbox11{
    width: 100%;
    height: 87vh;
    display: flex;
    /* background: linear-gradient(336deg,#000000 33.9%,#797979 100%);  */
} 
.box{
    flex: 1;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: .5s;
    margin: 0 10px;
    background-color: rgba(89, 89, 89, 0.1);
    backdrop-filter: blur(22px);
    box-shadow: rgba(14, 14, 14, 0.19) 0px 6px 15px 0px;
    border-radius: 10px;
    
}
.box>img{
    width: 200%;
    height: 92%;
    object-fit: cover;
    object-position: center;
    transition: .5s;
}
.box>span{
    font: 500 20px 'sans-serif';
    text-align: center;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.box:hover{
    flex-basis: 50%;
}
.box:hover>img{
    width: 100%;
    height: 90%;
}
.box:hover>span{
    width: 100%;
    height: 10%;
}

.display-title {
    font-size: 60px;
    font-weight: normal;
}
/* 
#dis-title1fa {
    transition: all 0.5s ease-in-out;
    transform: translate(0,95px);
    z-index: 2;
}
.display-box:hover #dis-title1fa{
    transform: translate(0,500px);
    z-index: -1;
}
.display-box:hover #fdis-title1fa{
    transform: translate(0,-75px);
    z-index: 1;
}

#fdis-title1fa {
    transition: all 0.5s ease-in-out;
    /* animation:  ease-in-out 1s running test1; 
    transform: translate(0,-500px);
    z-index: -1;
}
*/
/* @keyframes test1 {
    from {
        transform: translate(0,-75px);
        z-index: -1;
    }
    to {
        transform: translate(600px,-75px);
        z-index: 1;
    }
} */
#dis-title{
    font-family: 'Times New Roman', Times, serif;
}
#dis-subtitle {
    margin: 10px 0px;
    font-size: 50px;
    font-weight: lighter;
}

#disbox2 {
    margin: 10px 0px 10px 0px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #94949449;
    position: relative;
}

#disbox2:before {
    content: '';
    margin: 10px 0px 10px 0px;
    position: absolute;
    background: url('./cdplayer/cover/伟大的渺小.png')no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: calc(100%-10px);
    height: calc(100%-10px);
    filter: blur(7px);

}

#dis-title2 {
    font-size: 75px;
    font-weight: 500;
    font-weight: normal;
    letter-spacing: normal;
    transition: all 0.5s ease-in-out;
}

/* #dis-title2:hover+#dis-intro1 {
    font-size: 100px;
    filter: blur(5px);

} */

#dis-intro1 {
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dis-content {
    margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
}

.display-link {
    margin-top: 10px;
    font-size: 23px;
    font-weight: normal;
}

.display-link a {
    text-decoration: none;
    color: rgb(38, 73, 175);
}

/* 播放器 */
.dis-cdplay {
    width: 23vw;
    height: 30vw;
    z-index: 1;
    filter: blur(1px);
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(35, 49, 38, 0.541);
    background-color: rgba(255, 255, 255, 0.411);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.dis-cdplay:hover {
    filter: blur(0px)
}

/* .dis-cdplay:hover+#dis-title2fa #dis-title2 {
    background-color: #000000;
} */

.dis-cdplay-1 {
    width: 75%;
    height: 0;
    margin: 10% 0 0 0;
    padding-bottom: 75%;
    border-radius: 15px;
    box-shadow: 5px 5px 13px rgba(35, 49, 38, 0.541);
    background-color: #a5a5a5bb;
}

.dis-cdplay-2 {
    width: 85%;
    height: 20%;
    margin-bottom: 10%;
    border-radius: 15px;
    box-shadow: 5px 5px 13px rgba(35, 49, 38, 0.541);
    background-color: rgba(255, 255, 255, 0.075);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cover-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#back{
    width: 12%;
}
#forw{
    width: 12%;
}
#play{
    width: 12%;
}

.content {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 小板块1 */
.intro1 {
    margin-right: 10px;
    padding: 5px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff
}

#intro1-title {
    margin: 20px;
    font-size: 60px;
    font-weight: bold;
}

#intro1-content {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro1 {
    padding: 5px;
}

#github-link {
    padding: 5px;
    text-decoration: none;
    color: rgb(64, 101, 214);
}
.intro2 {
    padding: 5px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right, #5AB2F1,#00CAF5,#00DFE1,#4BEEBA,#A7F78F,#F9F871);
    color: #f3f3f3
}

#intro2-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#intro2-title {
    margin: 10px;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 4px#76b5b3fe;
}
#intro2-subtitle {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 4px#76b5b3fe;
}
.ttb1{
    width: 15vw;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 40%; */
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(17px);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 18px;
    color: rgba(255, 255, 255, 0.898);
}
.ttb2{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ttb3{
    width: 90%;
    height: 16%;
    background-color: rgba(255, 255, 255, 0.182);
    backdrop-filter: blur(17px);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.898);
}
#ttb-lab1{
    background-color: rgba(27, 255, 42, 0.441);
}
#ttb-lab2{
    background-color: rgba(226, 242, 8, 0.441);
}
/* 小板块0 */
.intro0 {
    margin-right: 10px;
    padding: 5px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #252525
}

#intro0-title {
    margin: 20px;
    font-size: 55px;
    font-weight: bold;
}

.intro0-text {
    padding: 5px;
    font-size: 18px;
}

/* 页尾 */
.separete{
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 100%;
    height: 1px;
}
.sep{
    display:flex;
    width: 50%;
    background-color: #c9c9c9;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
}